<%= form_for @suite_result, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :test_suite_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :test_suite_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :run_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :run_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :status, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                suite_results_path, :class => 'btn' %>
  </div>
<% end %>
