<%- model_class = SuiteResult -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:test_suite_id) %>:</strong></dt>
  <dd><%= @suite_result.test_suite_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:run_id) %>:</strong></dt>
  <dd><%= @suite_result.run_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @suite_result.status %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              suite_results_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_suite_result_path(@suite_result), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              suite_result_path(@suite_result),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
